* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
#btnNosy {
  border-radius: 50%;
  background-color: rgb(3, 114, 204);
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 1000000000000;
  animation: pulse 3s infinite alternate;
}

#btnNosy:hover {
  transform: translateY(-3px);
  box-shadow: 0 0px 20px rgba(235, 233, 233, 0.678);
  padding: 5px;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(1);
    background-color: rgba(255, 8, 0, 0.896); /* Red with opacity */
  }
  50% {
    transform: scale(1.2); /* Midway scale for a subtle bounce effect */
    background-color: rgba(255, 192, 0, 0.896); /* Brighter red in the middle */
  }
  to {
    transform: scale(1.5);
    background-color: rgba(0, 255, 13, 0.807); /* Green with opacity */
  }
}

#btnNosy[listener] {
  /* Define background gradient with linear gradient */
  background-image: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(235, 5, 5, 0.792) 70%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(109, 234, 14, 0.919) 50%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(12, 42, 233, 0.874) 30%
    );
  animation: pulse 0.2s infinite alternate;
}

.aiSearch {
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #007bff; /* Blue color, adjust as needed */
  color: #050202; /* White color for text */
  transition: background-color 0.3s ease;
}

.aiSearch:hover {
  background-color: #0056b3; /* Darker shade of blue on hover, adjust as needed */
  scale: 1.5;
}

.aiSearch:focus {
  outline: none; /* Remove default focus outline */
}

/* Additional styles for specific button types or states can be added here */
.wrapAi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  align-items: center;
}

.popup-container input[type="text"] {
  width: 100%;
  padding: 1.5em;
  margin-bottom: 15px;
  border: 1px solid #e1e9ee;
  border-radius: 4px;
  margin: 10px auto;
  box-sizing: border-box;
  word-wrap: break-word;
  outline: none !important;
}
.popup-container input[type="text"]::placeholder {
  padding: 2px;
  color: #999;
}
.popup-container button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #0073b1; /* LinkedIn blue */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.popup-container button:hover {
  background-color: #005682; /* Darker shade of LinkedIn blue */
}

.showRes {
  max-height: 200px !important;
  overflow-y: scroll;
  padding: 5px;
  position: relative;
  overflow-x: hidden;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 36%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.q-title {
  font-size: 2rem;
  font-weight: 700;
  color: #0073b1;
  text-align: start;
  padding: 7px auto;
}
.toast {
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  right: 10px;
  z-index: 100000000;
  background-image: linear-gradient(
    to right,
    rgb(209, 209, 13),
    rgb(5, 180, 234)
  );

  padding: 10px;
}

.close-button {
  padding: 3px 10px;
  color: white !important;
  background-color: red !important;
  border-radius: 7px;
}
